@import "tailwindcss";

:root {
     --bg: #fbf8f3;
     --bgdark: #e5e2dd;
     --main: #06172c;
     --main-hover: #0a2444;
     --sec: #b8956a;
     --sechover: #b28b5b;
     --tint: #0b1c28;
}

@theme inline {
     --color-tint: var(--tint);
     --color-bg: var(--bg);
     --color-sechover: var(--sechover);
     --color-main: var(--main);
     --color-darker: var(--bgdark);
     --color-sec: var(--sec);
     --font-play: var(--font-playfair_display);
     --font-man: var(--font-manrope);
}
@keyframes slideIn {
     from {
          transform: translateX(100%);
     }
     to {
          transform: translateX(0);
     }
}

.titlemain {
     text-decoration: underline;
     text-decoration-color: var(--sec);
     text-underline-offset: 20px;
     text-decoration-thickness: 5px;
     font-family: var(--font-play);
     color: var(--main);
     font-size: 1.9rem;
     line-height: 1.1;
     font-style: italic;
     font-weight: bold;
}

.secondary-title {
     font-family: var(--font-play);
     font-size: 1.7rem;
     line-height: 1.2;
     font-style: italic;
     font-weight: 700;
}

.subtitle {
     font-family: var(--font-play);
     font-size: 1.4rem;
     line-height: 1.4;
     font-style: italic;
}

.display-number {
     font-family: var(--font-play);
     font-size: 4rem;
     line-height: 1;
     font-style: italic;
}

.regular-text {
     font-family: var(--font-man);
     font-size: 1.2rem;
     line-height: 1.7;
}

.buttonmain:hover {
     background-color: var(--main-hover);
     transition: all 200ms ease-in-out;
}
.buttonsec:hover {
     background-color: var(--sechover);
     transition: all 200ms ease-in-out;
}
.texthover {
     opacity: 0.5;
}
.texthover:hover {
     transform: translateX(7px);
     opacity: 1;
     transition: all 200ms ease-in-out;
}

@media (min-width: 1024px) {
     .titlemain {
          font-size: 2.25rem;
     }

     .secondary-title {
          font-size: 1.875rem;
     }

     .subtitle {
          font-size: 1.25rem;
     }

     .display-number {
          font-size: 6rem;
     }

     .regular-text {
          font-size: 1.125rem;
     }
}

@media (max-width: 767px) {
     .titlemain {
          text-underline-offset: 12px;
          text-decoration-thickness: 6px;
     }
}
