@import "tailwindcss";

:root {
     --bg: #fbf8f3;
     --main: #06172c;
     --sec: #b8956a;
}

@theme inline {
     --color-bg: var(--bg);
     --color-main: var(--main);
     --color-sec: var(--sec);
     --font-play: var(--font-playfair_display);
     --font-man: var(--font-manrope);
}
@keyframes slideIn {
     from {
          transform: translateX(100%);
     }
     to {
          transform: translateX(0);
     }
}

.titlemain {
     text-decoration: underline;
     text-decoration-color: var(--sec);
     text-underline-offset: 20px;
     text-decoration-thickness: 10px;
     font-family: var(--font-play);
     color: var(--main);
     font-size: 50px;
     font-style: italic;
     font-weight: bold;
}
@media (max-width: 767px) {
     .titlemain {
          font-size: 32px;
          text-underline-offset: 12px;
          text-decoration-thickness: 6px;
     }
}

.image-container {
     display: flex;
     flex-direction: row-reverse;
     align-items: center;
     justify-content: flex-start;
     position: relative;
     height: 35rem;
     .firstContainer {
          z-index: 3;
          width: clamp(20rem, 22.5vw, 25rem);
          height: auto;
          position: absolute;
          .first {
               border-radius: 1.56rem;
               border: 5px solid var(--sec);
               width: clamp(20rem, 22.5vw, 25rem);
               height: auto;
          }
     }
     .secContainer {
          z-index: 2;
          width: clamp(20rem, 22.5vw, 25rem);
          height: auto;
          position: absolute;
          .secondary {
               border-radius: 1.56rem;
               border: 5px solid var(--sec);
               width: clamp(20rem, 22.5vw, 25rem);
               height: auto;
               opacity: 70%;
          }
     }
     .thirdContainer {
          z-index: 1;
          width: clamp(20rem, 22.5vw, 25rem);
          height: auto;
          position: absolute;
          .third {
               border-radius: 1.56rem;
               border: 5px solid var(--sec);
               width: clamp(20rem, 22.5vw, 25rem);
               height: auto;
               opacity: 30%;
          }
     }
     .controls {
          display: flex;
          justify-content: space-between;
          position: absolute;
          left: 0;
          bottom: 0;
          width: 12.5rem;
          z-index: 4;
          transform: translateY(5rem);
     }
     .prevCont,
     .nextCont {
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: transparent;
          border: 2px solid transparent;
     }
}
