@import "tailwindcss";

:root {
     --bg: #fbf8f3;
     --bgdark: #e5e2dd;
     --main: #06172c;
     --main-hover: #0a2444;
     --sec: #b8956a;
     --sechover: #b28b5b;
     --tint: #0b1c28;
}

@theme inline {
     --color-tint: var(--tint);
     --color-bg: var(--bg);
     --color-sechover: var(--sechover);
     --color-main: var(--main);
     --color-darker: var(--bgdark);
     --color-sec: var(--sec);
     --font-play: var(--font-playfair_display);
     --font-man: var(--font-manrope);
}
@keyframes slideIn {
     from {
          transform: translateX(100%);
     }
     to {
          transform: translateX(0);
     }
}

.titlemain {
     text-decoration: underline;
     text-decoration-color: var(--sec);
     text-underline-offset: 20px;
     text-decoration-thickness: 10px;
     font-family: var(--font-play);
     color: var(--main);
     font-size: 50px;
     font-style: italic;
     font-weight: bold;
}

.buttonmain:hover {
     background-color: var(--main-hover);
     transform: scale(1.1);
     transition: all 100ms ease-in-out;
}
.buttonsec:hover {
     background-color: var(--sec-hover);
     transform: scale(1.1);
     transition: all 100ms ease-in-out;
}

.texthover:hover {
     transform: translateX(7);
     opacity: 1;
     transition: all 100ms ease-in-out;
}

@media (max-width: 767px) {
     .titlemain {
          font-size: 32px;
          text-underline-offset: 12px;
          text-decoration-thickness: 6px;
     }
}
